@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
@*@<h3>@ViewBag.Message</h3>*@

<address>
    Dariusz Storka<br />
    27 Theresa's Walk<br />
    South Croydon, CR2 0AU<br />
    <abbr title="Phone">M:</abbr>
    +44 7897 702 394
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:dstorka@gmail.com">dstorka@gmail.com</a><br />
</address>