@model List<VisionRT_WebApp.Models.PatientModel>

@{
    ViewBag.Title = "Search";
}

<br />
<div class="row">
    <div class="col-sm-12">
        <div class="form-inline pull-left">
            <label>Search</label>
            <input type="text" class="form-control" id="txtSearch" />
        </div>
    </div>
    <div id="grdPatients"></div>
</div>

<script>
    $(() => {
        getPatients();

        $('#txtSearch').on('keyup', () => {
            getPatients();
        });
    });

    function getPatients() {
        $.ajax({
            url: '@Url.Action("SearchPatients", "Home")',
            datatype: 'html',
            method: 'GET',
            data: { searchText: $('#txtSearch').val() },
            success: function (res) {
                $('#grdPatients').html('').html(res);
            },
            error: function (err) {
                console.log(err);
            }
        })
    }
</script>